[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "==1.6.1"
flask = "*"
requests = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.13"
